/* variables */
:root{
    --color:#7d4a2d;
}
/* basic style */
*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.25%;
    
}
body{
    font-family: 'Lato';
    font-weight: 400;
    
}
button{
    font-family: inherit;
    display: block;
    margin: 0 auto;
}
/* grid */
.parent{
    position: relative;
    min-height: 100vh;
    background-color: #ffaa79;
}
.row{
    max-width: 55rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    overflow: hidden;
    width: 100%;
    
    box-shadow: .8rem .8rem 3rem rgb(49, 47, 47);
   
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.col-5-of-8{
    width: calc(5 * ( 100% / 8));
    float: left;

}
.col-3-of-8{
    width: calc(3 * ( 100% / 8));
    float: left;

}
 

.left_section{
    max-width: 25rem;
    min-height: 51rem;
    /* background-color: blue;   */
    max-height: 30rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
}

 
.circle{
   width: 15rem;
   height: 15rem;
   margin: 0 auto;
   position: relative;
   border-radius: 50%;
   margin-bottom: 4rem;
   

}
.img{
    width: 100%;
    min-height: 15rem;
    object-fit:cover;
    border-radius: 50%;
    
} 
.heading{
    font-size: 3rem;
    font-weight: 600;
    text-transform: capitalize;
    color:var(--color);
}
.text{
  font-size: 1.8rem;
  margin-bottom: 7rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #a18484;
}
.btn{
   text-transform: capitalize;
   border: none;
   
   font-size: 2.2rem;
   background-color: transparent;
   padding: 1rem 2rem;
   border: 1px solid var(--color);
   color: var(--color);
   border-radius: 8rem;
   cursor: pointer;
   min-width: 20rem;
   transition: all .4s;
   font-weight: 700;

}
.btn:hover{
    background-color: var(--color);
    color: white;
}

.margin_bottom{
    margin-bottom: 2rem;
}
/* right section */
.right{
    padding: 6.5rem;
    background-color: #fbe9ec;
}
.right:not(:last-child){
    margin-bottom: .3rem;
}
span{
    display: block;
}
.text_container{
    text-align: center;
}
.number{
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(133 43 43);
}
.text_span{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: capitalize;
    color: rgb(133 43 43);
}
.left_circle{
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    right: -.5rem;
    bottom: -.5rem;
    border: 1px solid var(--color);
    border-radius: 50%;
    border-left-color: transparent;
    transition: all .4s;
}
.right_circle{
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    border: 1px solid var(--color);
    border-radius: 50%;
    border-right-color: transparent;
    transition: all .4s;
}
.row:hover .right_circle{
    transform: rotate(180deg);
}
.row:hover .left_circle{
    transform: rotate(180deg);
}



 @media (max-width:500px){
    .parent{
        min-height: 150vh;
    }
    .col-5-of-8{
        width: 100%;
        float: none;
        margin-bottom: 2rem;
    }
    .col-3-of-8{
        width: 100%;
        float: none;
    }
} 